header{
  display:flex;
}

nav{
  margin-left: auto;
}

nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

nav a{
  text-align: center;
  width: 100px;
  line-height: 64px;
  display: block;
}

nav a:hover{
  background-color: antiquewhite;
}