/* main > h2:nth-of-type(3){
  background-color: pink;
}
main > h2:nth-of-type(even){
  background-color: pink;
} */
main > h2:last-of-type {
  background-color: pink;
}

main > h2:first-of-type {
  background-color: skyblue;
}
